<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="P1TiendaVirtualDBEntities" connectionString="metadata=res://*/Modelos.TiendaEntities.csdl|res://*/Modelos.TiendaEntities.ssdl|res://*/Modelos.TiendaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\liria\Downloads\P1-TiendaVirtual\BaseDeDatos\P1TiendaVirtualDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>