@{
    ViewBag.Title = "Confirmación de Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar su email. Puede hacer @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
